.footer__column-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  opacity: 1;
  transition: opacity 1s linear;
}

.footer__column-link:hover {
  opacity: 0.5;
}
