.header__link {
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  color: #2f80ed;
  opacity: 1;
  transition: opacity 1s linear;
}

.header__link:hover {
  opacity: 0.5;
}
