.header__main-illustration {
  width: 765px;
  height: 608px;
  background-image: url(../../../images/blocks/header/two_again.png);
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
