.khan__buy-link {
  display: flex;
  text-decoration: none;
  line-height: 42px;
  font-size: 32px;
  font-weight: normal;
  color: #2f80ed;
  opacity: 1;
  transition: opacity 1s linear;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
